#App {
  text-align: center;
  width: 100%
}

#App-header {
  background-color: #222;
  height: auto;
  padding: 2vh 0vw;
  color: #fff;
  position: relative;
}

#App-header h1 {
  font-size: 4vh;
  margin: 1.5vh 0vw;
  width: 100%;
}

#App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 10vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#App-contents {
  width: 80%;
  font-size: 2vh;
  margin: 3vh auto;
  color: #222;
}

#rules-div h2 {
  margin-top: 5vh;
}

#rules-div p {
  line-height: 4vh;

}

span {
  font-weight: bold;
}

#console-div h2 {
  margin-top: 5vh;
}

#console-div button {
  transition-duration: 0.4s;
  text-decoration: none;
  background-color: #fff;
  border: 0.25vh solid #67DAFA;
  border-radius: 1vh;
  font-size: 100%;
  font-family: 'Fredericka the Great', cursive;
  padding: 1vh;
  font-weight: bold;
  margin: 1vh;
  color: #222;
}

#console-div button:hover {
    background-color: #67DAFA;
    color: white;
}

#console-div button:disabled {
    background-color: #fff;
    color: #aaa;
    border: 0.25vh solid #aaa;
}

input {
  font-family: 'Fredericka the Great', cursive;
  font-size: 100%;
  width: 50%;
  border: 0.25vh solid #aaa;
  border-radius: 1vh;
  padding: 1vh;
  color: #000;
  text-align: center;
  font-weight: bold;
}

input::placeholder {
  font-weight: normal;
}

input:focus {
  border: 0.4vh solid #67DAFA;
  color: #67DAFA;
}

label {
  font-size: 100%;
  font-weight: bold;
}

#results-div h3 {
  margin-top: 3vh;
  margin-bottom: 1vh;
}
#results-div ol {
  width: fit-content;
  margin: 0 auto;
  line-height: 4vh;
}

#statusMonitor {
  margin: 5vh auto 0vh auto;
}
