#App {
  text-align: center;
  width: 100%
}

#App-header {
  background-color: #222;
  height: auto;
  padding: 2.5vh 2.5vw;
  color: #fff;
  position: relative;
}

#App-header h1 {
  font-size: 40px;
  margin: 1.5vh 0vw;
  width: 100%;
}

#App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#App-contents {
  width: 80%;
  margin: 0 auto;
  font-size: 125%;
  margin: 3vh auto;
  color: #222;
}

#rules-div h2 {
  margin: 3vh auto;
}

#rules-div p {
  line-height: 35px;

}

#rules-div span {
  font-weight: bold;
}

#console-dock {
  text-align: left;
  margin: 0 20vw;
  width: 100%;
}

#console-div h2 {
  margin: 3vh auto;
}

#console-div button {
  transition-duration: 0.4s;
  text-decoration: none;
  background-color: #fff;
  border: 2px solid #67DAFA;
  border-radius: 10px;
  font-size: 100%;
  font-family: 'Fredericka the Great', cursive;
  padding: 10px;
  font-weight: bold;
  margin: 0 1vw;
  color: #222;
}

#console-div button:hover {
    background-color: #67DAFA;
    color: white;
}

#console-div button:disabled {
    background-color: #fff;
    color: #aaa;
    border: 2px solid #aaa;
}
